* {
  background-color: #afd2f4;
}

h1 {
  text-align: center;
  background-color: darkcyan;
  font-size: 50px;
  padding: 5px;
  margin: 30px;
  color: white;
}

h3 {
  background-color: darkmagenta;
  text-align: center;
  font-size: 40px;
  padding: 3px;
  margin: 30x;
  color: white;
}

h4 {
  background-color: hsl(3, 100%, 100%, 0.5);
  font-size: 25;
  padding: 2px;
  margin: 30px;
}

.button {
	text-decoration: none;
	color: black;
}

.button a:hover {
	text-decoration: underline;
	color: #2f4f4f;
}

a:link {
	color: black;
	text-decoration: none;
}
